#!/bin/bash
# Set all the necessary environment variables.
# To utilize:
# - Make a local copy of this file as "environment.sh"
# - Change the environment variables to match your paths
# - Source this file in your .profile, .bash_profile, or .bashrc (depending on your shell workflow)


# Path to the git directory
# Example:
# export REV_D_DIR="/home/lcb-virt/rev_d_shim"
export REV_D_DIR="/home/lcb-virt/rev_d_shim"

# Path to PetaLinux installation
# Example:
# export PETALINUX_PATH="/tools/Xilinx/PetaLinux/2024.2/tool"
export PETALINUX_PATH="/tools/Xilinx/PetaLinux/2024.2/tool"

# PetaLinux version
# Example:
# export PETALINUX_VERSION="2024.2"
export PETALINUX_VERSION="2024.2"

## PetaLinux source files for offline builds
## https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/embedded-design-tools.html
## You need the "Downloads" and "arm sstate-cache" from the "PetaLinux Tools sstate-cache Artifacts" section
# Downloads "downloads" folder
# Example:
# export PETALINUX_DOWNLOADS_PATH="/home/lcb-virt/petalinux_downloads/downloads_2024.2_11061705/downloads"
export PETALINUX_DOWNLOADS_PATH="/home/lcb-virt/petalinux_downloads/downloads_2024.2_11061705/downloads"
# Sstate "arm" folder
# Example:
# export PETALINUX_SSTATE_PATH="/home/lcb-virt/petalinux_downloads/sstate_arm_2024.2_11061705/arm"
export PETALINUX_SSTATE_PATH="/home/lcb-virt/petalinux_downloads/sstate_arm_2024.2_11061705/arm"

# Path to Vivado installation
# Example:
# export VIVADO_PATH="/tools/Xilinx/Vivado/2024.2"
export VIVADO_PATH="/tools/Xilinx/Vivado/2024.2"

# Source Vivado settings script
source $VIVADO_PATH/settings64.sh
