/include/ "system-conf.dtsi"
/ {
};

&amba_pl {
    user_irq0: user_irq0 {
        compatible = "generic-uio";
        interrupt-parent = <&intc>;
        interrupts = <0 29 1>;
    };
    user_irq1: user_irq1 {
        compatible = "generic-uio";
        interrupt-parent = <&intc>;
        interrupts = <0 30 1>;
    };
    user_irq2: user_irq2 {
      compatible = "generic-uio";
      interrupt-parent = <&intc>;
      interrupts = <0 31 1>;
    };
    user_irq3: user_irq3 {
      compatible = "generic-uio";
      interrupt-parent = <&intc>;
      interrupts = <0 32 1>;
    };
    user_irq4: user_irq4 {
      compatible = "generic-uio";
      interrupt-parent = <&intc>;
      interrupts = <0 33 1>;
    };
    user_irq5: user_irq5 {
      compatible = "generic-uio";
      interrupt-parent = <&intc>;
      interrupts = <0 34 1>;
    };
    user_irq6: user_irq6 {
      compatible = "generic-uio";
      interrupt-parent = <&intc>;
      interrupts = <0 35 1>;
    };
    user_irq7: user_irq7 {
      compatible = "generic-uio";
      interrupt-parent = <&intc>;
      interrupts = <0 36 1>;
    };
};
